.post {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  margin: 15px 0;
  border-bottom: 1px solid #38444d;
  -ms-word-break: break-all;
  word-break: break-all;

  .postAvatar {
    width: 10%;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .postBody {
    width: 90%;
    padding: 0 0 0 10px;

    .postUserName {
      width: 100%;
      margin-bottom: 10px;
      font-weight: bold;

      .date {
        font-weight: normal;
        color: #566471;
      }
    }

    .postText {
      width: 100%;
    }

    .like {
      display: flex;
      align-items: center;
      margin-top: 10px;

      svg {
        width: 20px;
      }

      .red {
        fill: red;
      }

      .grey {
        fill: grey;
      }

      .likeCount {
        margin: 0 0 0 5px;
      }
    }
  }
}