.postBlock {
  padding: 10px;

  .posts {
    margin-top: 10px;
    width: 100%;
  }

  .myPost {
    textarea {
      width: 100%;
      margin: 10px 0 0 0;
    }

    button {
      float: right;
      margin: 10px 0;
    }
  }
}


