.profile {
  width: 60%;
  padding: 10px;
  align-self: flex-start;
  position: absolute;
  left: 20%;
  //border: 1px solid;
  //border-bottom-color: rgb(56, 68, 77);
  //border-left-color: rgb(56, 68, 77);
  //border-right-color: rgb(56, 68, 77);
  //border-top-color: rgb(56, 68, 77);

}