.content {
  width: 20%;
  position: absolute;
  left: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  .photos {
    border-radius: 16px;
    background: #253341;
    height: 20%;
    margin: 10px;
    width: 100%;
  }

  .friends {
    border-radius: 16px;
    background: #253341;
    height: 30%;
    margin: 10px;
    width: 100%;
  }

  .other {
    border-radius: 16px;
    background: #253341;
    height: 30%;
    margin: 10px;
    width: 100%;
  }
}