header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background: yellowgreen;
  height: max-content;

  .contentWrapper {
    width: 1200px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  img {
    height: 50px;
  }
}