.profileInfo {
  text-transform: uppercase;

  img {
    width: 100%;
  }

  .usersLogo {
    width: 50px;
    border-radius: 50%;
    border: 2px solid yellowgreen;
    margin-bottom: 5px;
  }

  .descriptionBlock {
    padding: 10px;
  }

}