.userCard {

  display: flex;
  margin: 20px 0;


  .avatarCase {
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .usersLogo {
      width: 50px;
      border-radius: 50%;
      border: 2px solid yellowgreen;
      margin-bottom: 5px;
    }

    .subBut {
      width: 100%;
      height: 25px;
      background: yellowgreen;
      border: none;
      border-radius: 12px;
      outline: none;
    }

  }

  .infoCase {
    width: 90%;
    background: #00000014;
    border-radius: 12px;
    margin: 0 0 0 20px;
  }

}