* {
  box-sizing: border-box;
}

body {

  background: linear-gradient(318.32deg, #C3D1E4 0%, #DDE7F3 55%, #D4E0ED 100%);
  overflow-y: hidden;

  .app-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;

    .app-wrapper-content {
      width: 80%;
      padding: 0 0 0 10px;
      height: 90%;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }

}

